@charset "UTF-8";
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  max-width: 100%;
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* ベースのスタイル
------------------------------------------*/
body {
  font-family: "Noto Sans JP", serif;
  font-weight: 400;
  /*regular */
  font-style: normal;
  font-size: 0.875rem;
  /* 14px */
  color: #000;
}

/* font-weight
--------------------------------------- */
.fw-thin {
  font-weight: 100;
}

.fw-extralight,
.fw-ultralight {
  font-weight: 200;
}

.fw-light {
  font-weight: 300;
}

.fw-regular,
.fw-normal {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.fw-extra-bold {
  font-weight: 800;
}

.fw-black,
.fw-heavy {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

/* font family */
.outfit {
  font-family: "Outfit", serif;
}

.notosans {
  font-family: "Noto Sans JP", serif;
}

/* flexレイアウト */
.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1300px;
  }
}
.container .container__inner {
  width: 100%;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .container .container__inner {
    padding: 0 32px;
  }
}

/*button style*/
.btn {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 350px;
  padding: 12px 8px;
  border-radius: 65px;
  font-size: 21px;
  color: #fff;
  background-color: #49c43d;
  text-align: center;
  text-decoration: none;
  line-height: 1.3;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
@media screen and (min-width: 768px) {
  .btn {
    width: 570px;
    height: 130px;
    padding: 16px 25px;
    font-size: 34px;
  }
  .btn:hover {
    background-color: #40e02f;
  }
}

/*button arrow style*/
.btn-arrow::before {
  content: "";
}
.btn-arrow::after {
  content: "";
  width: 12px;
  height: 12px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translate(3px, 1px) rotate(45deg);
  transition: all 0.3s ease;
  justify-self: center;
}
@media screen and (min-width: 768px) {
  .btn-arrow::after {
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    width: 1.3rem;
    height: 1.3rem;
  }
}

h3 .title__top {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
  color: #4d2b1b;
  font-size: 18px;
  margin-top: 4px;
}

h3 .deco-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fa7da3;
  font-size: 32px;
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  h3 .deco-title {
    font-size: 42px;
    padding-top: 0;
    margin-top: 16px;
  }
}
h3 .deco-title::before {
  background-image: url("../images/common/Shape_left_pc.png");
}
h3 .deco-title::after {
  background-image: url("../images/common/Shape_right_pc.png");
}
h3 .deco-title::before, h3 .deco-title::after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/*header
---------------------------------*/
.header {
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 999;
}
@media screen and (min-width: 768px) {
  .header {
    height: 92px;
  }
}
.header .header__container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 10px;
}
@media screen and (min-width: 768px) {
  .header .header__container {
    height: 92px;
    max-width: 1070px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header__logo picture {
  display: flex;
  align-items: center;
  width: 70px;
}
@media screen and (min-width: 768px) {
  .header__logo picture {
    width: 100px;
  }
}

.header__btn__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .header__btn__group {
    gap: 20px;
  }
}
.header__btn__group .btn {
  border-radius: 40px;
  font-size: 12px;
  height: 31px;
  text-align: left;
  align-content: center;
}
@media screen and (min-width: 768px) {
  .header__btn__group .btn {
    font-size: 21px;
    height: 50px;
  }
}
.header__btn__group .btn-cv {
  width: clamp(135px, 45vw, 200px);
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) {
  .header__btn__group .btn-cv {
    width: clamp(200px, 26vw, 300px);
    letter-spacing: 0;
    line-height: 1.1;
  }
}
.header__btn__group .btn-cv span {
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .header__btn__group .btn-cv span {
    font-size: clamp(18px, 1.45vw, 21px);
  }
}
.header__btn__group .btn-cv span > span {
  font-size: clamp(8px, 2.5vw, 10px);
}
@media screen and (min-width: 768px) {
  .header__btn__group .btn-cv span > span {
    font-size: clamp(10px, 4.5vw, 18px);
  }
}

header .btn-arrow::before {
  content: "";
}
header .btn-arrow::after {
  content: "";
  width: 12px;
  height: 12px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: translate(3px, 1px) rotate(45deg);
  transition: all 0.3s ease;
  justify-self: center;
}
@media screen and (min-width: 768px) {
  header .btn-arrow::after {
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    width: 1.3rem;
    height: 1.3rem;
  }
}
header .btn-arrow::after {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  width: 6px;
  height: 6px;
}
@media screen and (min-width: 768px) {
  header .btn-arrow::after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    width: 10px;
    height: 10px;
    right: 16px;
  }
}

.btn-contact {
  background-color: #fa7da3;
  width: min(26.9230769vw, 189px);
  letter-spacing: 0;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .btn-contact {
    width: 189px;
    text-align: center;
    font-size: clamp(18px, 1.45vw, 21px);
  }
  .btn-contact:hover {
    background-color: #f86d94;
  }
}

/* mainvisual 
-----------------------------------------*/
.mainvisual {
  background-color: #fa7da3;
}
.mainvisual__container {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .mainvisual__container {
    max-width: 1030px;
  }
}
.mainvisual__container__inner {
  padding: 0;
  margin: 0 auto;
}

.mainvisual__gridWrapper {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 97px 1fr;
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 768px) {
  .mainvisual__gridWrapper {
    max-width: 1030px;
    grid-template-rows: auto -webkit-max-content;
    grid-template-rows: auto max-content;
    grid-template-columns: 1fr 1fr;
  }
}

.mainvisual__background {
  grid-row: 2/3;
  grid-column: 1/3;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.mainvisual__background .mainvisual__imgWrapper {
  width: 210px;
  max-width: 210px;
  height: 217px;
  overflow: hidden;
  transform: translateX(4px);
}
@media screen and (min-width: 768px) {
  .mainvisual__background .mainvisual__imgWrapper {
    width: 480px;
    max-width: 500px;
    height: 500px;
    transform: translateX(-32px);
  }
}
.mainvisual__background .mainvisual__imgWrapper .mainvisual__img {
  height: auto;
}

.mainvisual__foreground__left {
  grid-row: 1/3;
  grid-column: 1/2;
  z-index: 99;
}

.mainvisual__foreground__right {
  grid-row: 1/3;
  grid-column: 2/3;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-self: flex-end;
  right: 0;
  width: 96.4%;
}
@media screen and (min-width: 768px) {
  .mainvisual__foreground__right {
    width: 86.9%;
  }
}

.mainvisual__contents__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 2px;
  margin-left: 4px;
  margin-bottom: 2px;
}
@media screen and (min-width: 768px) {
  .mainvisual__contents__title {
    width: 90%;
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .mainvisual__contents__title__logo {
    display: flex;
    flex-direction: column;
    width: 120%;
  }
}
.mainvisual__contents__title__logo img {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .mainvisual__contents__title__logo img {
    margin-top: 3px;
    width: 100%;
  }
}
.mainvisual__contents__title__logo > span {
  margin-top: 5px;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .mainvisual__contents__title__logo > span {
    text-align: right;
    margin-top: 0;
    font-size: 36px;
    transform: translate(8px, -20px);
  }
}

.mainvisual__contents__firstPrice_wrapper {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 5px 5px 0px 0px rgba(89, 89, 89, 0.2);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 22px;
}
@media screen and (min-width: 768px) {
  .mainvisual__contents__firstPrice_wrapper {
    width: 100%;
    padding: 43px 0px;
    gap: 16px;
  }
}

.mainvisual__contents__firstPrice__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 5rem;
}
@media screen and (min-width: 768px) {
  .mainvisual__contents__firstPrice__text {
    width: 7rem;
  }
}

.mainvisual__contents__firstPrice__text span:nth-child(1) {
  background: #fff;
  color: #fa7da3;
  padding: 3px 6px;
  font-size: 13px;
}
@media screen and (min-width: 768px) {
  .mainvisual__contents__firstPrice__text span:nth-child(1) {
    font-size: 30px;
    padding: 4px 8px;
  }
}
.mainvisual__contents__firstPrice__text span:nth-child(2) {
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .mainvisual__contents__firstPrice__text span:nth-child(2) {
    font-size: 3.85em;
    display: block;
  }
}

.mainvisual__contents__firstPrice__price {
  width: 80%;
}
@media screen and (min-width: 768px) {
  .mainvisual__contents__firstPrice__price {
    width: 40%;
  }
}

.mainvisual__regularprice {
  display: flex;
  justify-content: flex-end;
  margin-top: 7px;
  margin-right: 2em;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .mainvisual__regularprice {
    margin-right: 61px;
    margin-bottom: 30px;
  }
}
.mainvisual__regularprice__num {
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .mainvisual__regularprice__num {
    font-size: 26px;
  }
}
.mainvisual__regularprice__unit {
  font-size: 9px;
}
@media screen and (min-width: 768px) {
  .mainvisual__regularprice__unit {
    font-size: 17px;
  }
}

.mainvisual__contents__merits ul {
  text-align: center;
  display: flex;
  align-items: center;
  row-gap: 12px;
  margin-bottom: 27px;
}
@media screen and (min-width: 768px) {
  .mainvisual__contents__merits ul {
    min-width: 175px;
    row-gap: 16px;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

.mainvisual__contents__merits__list {
  flex-direction: column;
}
.mainvisual__contents__merits__list li {
  width: 70%;
  height: 35px;
  border: 1px solid #fff;
  background-color: #fa7da3;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .mainvisual__contents__merits__list li {
    width: 100%;
    max-width: 100%;
    height: 72px;
    font-size: 28px;
    line-height: 72px;
  }
}

/* present */
#present {
  background-color: #fffedd;
  padding-bottom: 14px;
}
@media screen and (min-width: 768px) {
  #present {
    padding-bottom: 28px;
  }
}

.present__top {
  color: #fa7da3;
  vertical-align: bottom;
  margin-top: 19px;
  font-size: 21px;
}
@media screen and (min-width: 768px) {
  .present__top {
    font-size: 34px;
    margin-top: 40px;
  }
}
.present__top::before, .present__top::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 27px;
  background: #fa7da3;
}
@media screen and (min-width: 768px) {
  .present__top::before, .present__top::after {
    width: 3px;
    height: 44px;
  }
}
.present__top::before {
  transform: rotate(-30deg);
  margin-right: 13px;
}
.present__top::after {
  transform: rotate(30deg);
  margin-left: 4px;
}

.present__contentBox {
  width: 350px;
  text-align: center;
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .present__contentBox {
    width: 550px;
  }
}
.present__contentBox__title {
  color: #fff;
  background-color: #fa7da3;
  border-radius: 10px 10px 0 0;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .present__contentBox__title {
    font-size: 32px;
  }
}
.present__contentBox__contents {
  background: #fff;
  color: #333;
  border: 1px solid #fa7da3;
  border-radius: 0 0 10px 10px;
  padding: 7px;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .present__contentBox__contents {
    font-size: 44px;
    padding-bottom: 22px;
  }
}
@media screen and (min-width: 768px) {
  .present__contentBox {
    margin-top: 18px;
    width: 550px;
  }
}
.present__contentBox__title {
  font-size: 21px;
}
@media screen and (min-width: 768px) {
  .present__contentBox__title {
    font-size: 32px;
  }
}
.present__contentBox__contents {
  color: #fa7da3;
  font-size: 27px;
  padding: 7px;
}
@media screen and (min-width: 768px) {
  .present__contentBox__contents {
    font-size: 44px;
    padding-top: 10px;
    padding-bottom: 12px;
  }
}
.present__contentBox__contents > span {
  font-size: 42px;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .present__contentBox__contents > span {
    font-size: 68px;
  }
}

.present__bottom {
  font-size: 10px;
  margin-top: 8px;
}
@media screen and (min-width: 768px) {
  .present__bottom {
    margin-top: 14px;
    font-size: 14px;
  }
}

/* cv 繰り返しあり
-----------------------------------------*/
.cv {
  padding: 14px 0;
}
@media screen and (min-width: 768px) {
  .cv {
    padding: 40px 0 0 0;
  }
}
.cv .cv_title {
  color: #fa7da3;
  font-size: 21px;
  margin-bottom: 10px;
  letter-spacing: 2.2px;
}
@media screen and (min-width: 768px) {
  .cv .cv_title {
    font-size: 34px;
    margin-top: 13px;
    margin-bottom: 20px;
  }
}

/*trial 
-----------------------------------------*/
.trial__container {
  max-width: 350px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .trial__container {
    max-width: 570px;
    margin-top: 40px;
  }
}

#trial {
  margin-top: 16px;
}
#trial .trial__contents__title {
  width: 100%;
  border-top: 1px solid #50bfff;
  border-bottom: 1px solid #50bfff;
  color: #50bfff;
  text-align: center;
  padding: 7px 0;
  font-size: 17px;
  letter-spacing: 1px;
}
@media screen and (min-width: 768px) {
  #trial .trial__contents__title {
    border-top: 2px solid #50bfff;
    border-bottom: 2px solid #50bfff;
    font-size: 28px;
    padding: 14px 0;
  }
}
#trial .trial__contents {
  margin-top: 12px;
}
#trial .trial__contents__content {
  font-size: 14px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  #trial .trial__contents__content {
    font-size: 23px;
    line-height: 36px;
  }
}
#trial .trial__contents__content span {
  font-size: 11px;
}
@media screen and (min-width: 768px) {
  #trial .trial__contents__content span {
    font-size: 17px;
  }
}

/* points 
-----------------------------------------*/
#points {
  margin-top: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fdf0f5;
}
@media screen and (min-width: 768px) {
  #points {
    margin-top: 46px;
    padding-top: 50px;
    padding-bottom: 58px;
  }
}
#points .points__container {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  #points .points__container {
    max-width: 956px;
    margin: 0 auto;
  }
}
#points .points___container__inner {
  width: 100%;
  padding: 0 20px;
}

.points__title {
  padding-bottom: 10px;
}
.points__title__top title__top {
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .points__title__top title__top {
    gap: 10px;
  }
}
.points__title__top title__top .points__title__top__logo {
  width: 200px;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .points__title__top title__top .points__title__top__logo {
    width: 264px;
  }
}
.points__title__top > span {
  font-weight: 500;
}

.point__contentBox {
  width: 350px;
  text-align: center;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .point__contentBox {
    width: 550px;
  }
}
.point__contentBox__title {
  color: #fff;
  background-color: #fa7da3;
  border-radius: 10px 10px 0 0;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .point__contentBox__title {
    font-size: 32px;
  }
}
.point__contentBox__contents {
  background: #fff;
  color: #333;
  border: 1px solid #fa7da3;
  border-radius: 0 0 10px 10px;
  padding: 7px;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .point__contentBox__contents {
    font-size: 44px;
    padding-bottom: 22px;
  }
}
@media screen and (min-width: 768px) {
  .point__contentBox {
    margin-top: 50px;
    width: 780px;
  }
}
.point__contentBox.point__contentBox-1 {
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .point__contentBox.point__contentBox-1 {
    margin-top: 38px;
  }
}
.point__contentBox__title {
  font-size: 17px;
  color: #fff;
  background-color: #fa7da3;
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  .point__contentBox__title {
    height: 74px;
    font-size: 28px;
  }
}
.point__contentBox__contents {
  padding: 16px 20px;
}
@media screen and (min-width: 768px) {
  .point__contentBox__contents {
    padding: 22px 40px 36px;
  }
}
.point__contentBox p {
  text-align: justify;
}
@media screen and (min-width: 768px) {
  .point__contentBox p {
    font-size: 21px;
  }
}

.point__contentBox-1 .point__contentBox__contents .points__compare {
  margin-top: 14px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .point__contentBox-1 .point__contentBox__contents .points__compare {
    margin-top: 26px;
    gap: 40px;
  }
}
.point__contentBox-1 .point__contentBox__contents .points__compare__left__box,
.point__contentBox-1 .point__contentBox__contents .points__compare__right__box {
  width: 143px;
  height: 85px;
  text-align: center;
  margin: 0 auto 5px;
}
@media screen and (min-width: 768px) {
  .point__contentBox-1 .point__contentBox__contents .points__compare__left__box,
.point__contentBox-1 .point__contentBox__contents .points__compare__right__box {
    width: 232px;
    height: 137px;
    margin-bottom: 10px;
  }
}
.point__contentBox-1 .point__contentBox__contents .points__compare__left__box {
  border: 1px solid #fa7da3;
}
.point__contentBox-1 .point__contentBox__contents .points__compare__right__box {
  background: #fdf0f5;
  border: 1px solid #333;
  font-size: 18px;
}
@media screen and (min-width: 768px) {
  .point__contentBox-1 .point__contentBox__contents .points__compare__right__box {
    font-size: 29px;
  }
}
.point__contentBox-1 .point__contentBox__contents .points__compare__left__box img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.point__contentBox-2 .point__contentBox__contents {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 17px;
}
@media screen and (min-width: 768px) {
  .point__contentBox-2 .point__contentBox__contents {
    padding-bottom: 30px;
  }
}
.point__contentBox-2 .point__contentBox__contents p {
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 768px) {
  .point__contentBox-2 .point__contentBox__contents p {
    padding-left: 42px;
    padding-right: 42px;
  }
}
.point__contentBox-2 .point__contentBox__contentTitle {
  font-size: 23px;
  color: #4d2c1c;
}
@media screen and (min-width: 768px) {
  .point__contentBox-2 .point__contentBox__contentTitle {
    font-size: 24px;
  }
}
.point__contentBox-2 .point__contentBox__contentTitle__fullbody {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .point__contentBox-2 .point__contentBox__contentTitle__fullbody {
    margin-top: 32px;
  }
}
.point__contentBox-2 .point__contentBox__contentTitle__parcial {
  margin-top: 43px;
}
@media screen and (min-width: 768px) {
  .point__contentBox-2 .point__contentBox__contentTitle__parcial {
    margin-top: 50px;
  }
}
.point__contentBox-2 .point2_imgWrapper__fullbody {
  margin: 26px auto 0;
}
@media screen and (min-width: 768px) {
  .point__contentBox-2 .point2_imgWrapper__fullbody {
    margin: 18px auto 0;
    padding-left: 23px;
  }
}
.point__contentBox-2 .point2_imgWrapper__fullbody img {
  width: 100%;
  height: auto;
}
.point__contentBox-2 .point2_parcial_lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 19px;
  -moz-column-gap: 4%;
       column-gap: 4%;
  justify-content: center;
  margin: 26px 12px 0;
}
@media screen and (min-width: 768px) {
  .point__contentBox-2 .point2_parcial_lists {
    margin-top: 30px;
  }
}
.point__contentBox-2 .point2_parcial_lists figcaption {
  margin-top: 4px;
  color: #fa7da3;
}
@media screen and (min-width: 768px) {
  .point__contentBox-2 .point2_parcial_lists figcaption {
    font-size: 14px;
    margin-top: 8px;
  }
}
@media screen and (min-width: 768px) {
  .point__contentBox-2 .point2_parcial_lists {
    grid-template-columns: repeat(6, 1fr);
    -moz-column-gap: 2%;
         column-gap: 2%;
    margin: 30px 60px 0;
  }
}

/* cv-2 */
#cv-2 {
  padding-top: 36px;
}

/* other
--------------------------*/
#other {
  margin-top: 32px;
}
#other .other__container__inner {
  padding-bottom: 7px;
}
@media screen and (min-width: 768px) {
  #other .other__container__inner {
    margin-top: 15px;
    padding-bottom: 32px;
  }
}
#other h3 .other__title__top {
  margin-top: 0;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  #other h3 .other__title__top {
    margin-top: 8px;
    font-size: 24px;
  }
}
#other span.other__title__bottom.deco-title {
  margin-top: 5px;
}
#other ul.other__lists {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
  margin-top: 22px;
}
@media screen and (min-width: 768px) {
  #other ul.other__lists {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 38px;
  }
}
#other .other__contentBox {
  width: 350px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  #other .other__contentBox {
    width: 550px;
  }
}
#other .other__contentBox__title {
  color: #fff;
  background-color: #fa7da3;
  border-radius: 10px 10px 0 0;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  #other .other__contentBox__title {
    font-size: 32px;
  }
}
#other .other__contentBox__contents {
  background: #fff;
  color: #333;
  border: 1px solid #fa7da3;
  border-radius: 0 0 10px 10px;
  padding: 7px;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  #other .other__contentBox__contents {
    font-size: 44px;
    padding-bottom: 22px;
  }
}
@media screen and (min-width: 768px) {
  #other .other__contentBox {
    width: 350px;
  }
}
#other .other__contentBox__title {
  color: #fa7da3;
  background-color: #fdf0f5;
  border: #fa7da3 1px solid;
  border-bottom: none;
  font-size: 18px;
  height: 46px;
}
@media screen and (min-width: 768px) {
  #other .other__contentBox__title {
    font-size: 28px;
    padding: 30px 0 30px 0;
  }
}
#other .other__contentBox__contents {
  background-color: #fff;
  border-color: #fa7da3;
  border-top: none;
  text-align: left;
  padding: 14px 18px 18px 18px;
}
@media screen and (min-width: 768px) {
  #other .other__contentBox__contents {
    padding-top: 10px;
  }
}
#other .other__contentBox p {
  text-align: justify;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  #other .other__contentBox p {
    font-size: 18px;
    letter-spacing: -1px;
  }
}
#other .other__contentBox img {
  margin-top: 14px;
}
@media screen and (min-width: 768px) {
  #other .other__contentBox img {
    margin-top: 16px;
  }
}

/* voice */
#voice {
  background-color: #fdf0f5;
}
@media screen and (min-width: 768px) {
  #voice {
    margin-top: 28px;
    padding-top: 40px;
    padding-bottom: 78px;
  }
}

#voice .voice__title > span {
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  #voice .voice__title > span {
    margin-top: 0;
    margin-bottom: 36px;
  }
}

.voice__container__inner.container__inner {
  margin-top: 14px;
  padding: 21px 0 50px 0;
}
@media screen and (min-width: 768px) {
  .voice__container__inner.container__inner {
    padding: 0 20px;
    width: 70.8vw;
    margin: 0 auto;
  }
}

.splide__arrow {
  display: none;
}

.voice__slider .splide__pagination {
  bottom: -36px;
  gap: 1rem;
}
@media screen and (min-width: 768px) {
  .voice__slider .splide__pagination {
    bottom: -28px;
  }
}
.voice__slider .splide__pagination__page {
  /* ページネーションの色を指定 */
  background: #fa7da3;
  /* 非アクティブなページネーションの透過率を上げる */
  opacity: 0.3;
  width: 15px;
  height: 15px;
  margin: 0;
}
.voice__slider .splide__pagination__page.is-active {
  /* ページネーションのサイズを統一 */
  transform: scale(1);
  /* アクティブなページネーションの透過を無効にする */
  opacity: 1;
}

.voice__contentBox {
  width: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .voice__contentBox {
    width: 550px;
  }
}
.voice__contentBox__title {
  color: #fff;
  background-color: #fa7da3;
  border-radius: 10px 10px 0 0;
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .voice__contentBox__title {
    font-size: 32px;
  }
}
.voice__contentBox__contents {
  background: #fff;
  color: #333;
  border: 1px solid #fa7da3;
  border-radius: 0 0 10px 10px;
  padding: 7px;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .voice__contentBox__contents {
    font-size: 44px;
    padding-bottom: 22px;
  }
}
.voice__contentBox__title {
  height: 44px;
  font-size: 18px;
}
.voice__contentBox__contents {
  padding: 16px;
  display: grid;
  grid-template-columns: 96px 1fr;
  gap: 7px;
  flex-grow: 1;
}
.voice__contentBox__contents__textBox {
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.voice__contentBox__contents__textBox__prof {
  font-size: 16px;
  color: #fa7da3;
}
.voice__contentBox__contents__textBox p {
  font-size: 14px;
  padding-top: 6px;
  text-align: justify;
}
@media screen and (min-width: 768px) {
  .voice__contentBox__contents__textBox p {
    font-size: 14px;
    padding-right: 10px;
    letter-spacing: -1px;
  }
}

.splide__slide .voice__contentBox__contents__imgBox {
  height: 114px;
}
.splide__slide .voice__contentBox__contents__imgBox img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#cv-3 {
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  #cv-3 {
    margin-top: 0;
  }
}

/*footer*/
.footer {
  background-color: #fa7da3;
  height: 64px;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 128px;
  }
}
.footer__container {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 29px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    height: 128px;
    margin-top: 58px;
  }
}
.footer__container__logoImgBox img {
  width: 74px;
}
@media screen and (min-width: 768px) {
  .footer__container__logoImgBox img {
    width: 146px;
  }
}
/*# sourceMappingURL=style.css.map */